[submodule "amplifier"]
	path = amplifier
	url = https://github.com/microsoft/amplifier.git
[submodule "amplifier-core"]
	path = amplifier-core
	url = https://github.com/microsoft/amplifier-core.git
[submodule "amplifier-foundation"]
	path = amplifier-foundation
	url = https://github.com/microsoft/amplifier-foundation.git
[submodule "amplifier-bundle-dev-machine"]
	path = amplifier-bundle-dev-machine
	url = https://github.com/ramparte/amplifier-bundle-dev-machine.git
[submodule "attractor"]
	path = attractor
	url = https://github.com/bkrabach/attractor.git
[submodule "amplifier-resolve"]
	path = amplifier-resolve
	url = https://github.com/bkrabach/amplifier-resolve.git
[submodule "amplifier-resolver-dot-graph"]
	path = amplifier-resolver-dot-graph
	url = https://github.com/bkrabach/amplifier-resolver-dot-graph.git
[submodule "muxplex"]
	path = muxplex
	url = https://github.com/bkrabach/muxplex.git
[submodule "ramparte-dev-machine"]
	path = ramparte-dev-machine
	url = https://github.com/ramparte/amplifier-bundle-dev-machine.git
